<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="polymer">
    <description>Default PHP CodeSniffer configuration for Polymer project.</description>
    <file>src</file>
    <exclude-pattern type="relative">/var/www/html/test_drupal10/*\.php</exclude-pattern>
    <file>bin</file>
    <rule ref="PSR12"/>

    <!--    Keep us sane-->
<!--    <rule ref="Generic.ControlStructures.InlineControlStructure.NotAllowed"><severity>0</severity></rule>-->
<!--    <rule ref="PSR2.Methods.MethodDeclaration.Underscore"><severity>0</severity></rule>-->
<!--    <rule ref="PSR12.Files.FileHeader.IncorrectOrder"><severity>0</severity></rule>-->

    <arg value="n" />
    <arg value="s" />
</ruleset>
