parameters:
    level: 9
    paths:
        - src
        - bin
    excludePaths:
        - 'test_package'
        - 'test_drupal10'
        - 'src/Robo/Common/ArrayManipulator.php'
    ignoreErrors:
        -
            message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder#"
#services:
#    -
#        class: DigitalPolygon\PolymerTest\PHPStan\CollectionBuilderReflectionExtension
#        tags: [phpstan.broker.methodsClassReflectionExtension]
