parameters:
    level: 9
    paths:
        - src
        - bin
#services:
#    -
#        class: DigitalPolygon\PolymerTest\PHPStan\CollectionBuilderReflectionExtension
#        tags: [phpstan.broker.methodsClassReflectionExtension]
