parameters:
    level: 6
    paths:
        - src
        - bin
    excludePaths:
        - 'test_package'
        - 'test_drupal10'
        - 'src/Robo/Common/ArrayManipulator.php'
    ignoreErrors:
        -
            message: "#^Parameter \\#2 \\$default of method Consolidation\\\\Config\\\\Util\\\\ConfigOverlay\\:\\:get\\(\\) expects string\\|null, array given\\.$#"
#services:
#    -
#        class: DigitalPolygon\PolymerTest\PHPStan\CollectionBuilderReflectionExtension
#        tags: [phpstan.broker.methodsClassReflectionExtension]
