/.editorconfig
/.gitattributes

# Ignore scratch files.
/scratch/
/artifact/

# Ignore configuration files that may contain sensitive information.
local.settings.php
local.drush.yml
local.site.yml
local.services.yml
tests/behat/local.yml
*.local
local.blt.yml

# Ignore local env configs
config/envs/local

# Ignore drupal core.
web/core

# Ignore paths that contain user-generated content.
web/sites/*/files
/files-private
web/sites/*/private

# Ignore contrib modules. These should be created during build process.
web/modules/contrib
web/themes/contrib
web/profiles/contrib
web/libraries
drush/Commands

# Ignore custom theme build artifacts
node_modules

# Ignore build artifacts
deployment_identifier
/deploy
bin/*
tmp
reports
yarn-error.log
web/fractal

# OS X
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Eclipse
*.pydevproject
.project
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpathk

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# User-specific stuff:
.idea/

#XHProf
xhprof_*

#Composer vendor
vendor/
vendor/.git
auth.json

#Sass
.sass-cache
*.css.map

#Netbeans IDE
nbproject
nbproject/*

#Visual studio code
.vscode

# DrupalVM
.vagrant/

# DevDesktop
*.dd

#Exports
*.gz
*.sql
*.zip

# PHPStorm
atlassian-ide-plugin.xml

#NPM
npm-debug.log

# Drush 9 Checksums
drush/sites/.checksums

# Deprecation detector rules
.rules

# Backstop
tests/backstop/backstop_data/bitmaps_reference
tests/backstop/backstop_data/bitmaps_test
tests/backstop/backstop_data/html_report

# Nokia DAC Approval Tool
notifications-debug.txt
DISCOUNT_PERCENTAGES_CONVERTED_TO_SUMS

# BLT 11.2.0 update to support simulated deploys
/travis_wait*

# DDEV
.ddev/global_config.yaml

# The pantheon-systems/drupal-integrations project places a
# .drush-lock-update file at the project root.
/.drush-lock-update
